body {
  box-sizing: border-box;
  font-family: "Nintendo U", sans-serif;
  background-color: #f6f8fc;
  background-image: url(./assets/imgs/pokeball-icon.png);
  background-repeat: no-repeat;
  background-position-x: -180px;
  background-position-y: -80px;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  margin-bottom: 70px;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  color: #333;
  font-weight: bold;
}

h3 {
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

span {
  color: #999999;
}

a {
  text-decoration: none;
}

p {
  color: black;
  font-weight: bold;
}

/* HEADER */
header {
  height: 65px;
  background-color: white;
  border-bottom: 1px solid rgb(221, 221, 221);
}

header > div {
  padding-top: 5px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}

header img:hover {
  cursor: pointer;
}

.header-paragraphs {
  display: flex;
  gap: 50px;
}

.header-paragraphs p {
  /* border: 1px solid #cc0000; */
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

.header-paragraphs p:hover {
  cursor: pointer;
}

/* MAIN */

main > div {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PAGE all Pokemon */

.pokemon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.pokemon-card {
  background-color: white;
  border: 1px solid white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: #ededed 0 10px 10px;
}

.pokemon-card:hover {
  border: 1px solid rgb(221, 221, 221);
}

.pokemon-card img {
  width: 96px;
  object-fit: cover;
}

.pagination {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}

.pagination button {
  background-color: #cc0000;
  border: 1px solid #cc0000;
  border-radius: 10px;
  color: white;
  padding: 10px 25px;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.pagination button:hover {
  background-color: white;
  color: #cc0000;
}

/* Page of list of types */

.types-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.type-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
}

.type-card p {
  font-weight: normal;
}

.type-card.normal {
  border: 2px solid #a8a77a;
}
.type-card.fighting {
  border: 2px solid #c22e28;
}
.type-card.flying {
  border: 2px solid #a98ff3;
}
.type-card.poison {
  border: 2px solid #a33ea1;
}
.type-card.ground {
  border: 2px solid #e2bf65;
}
.type-card.rock {
  border: 2px solid #b6a136;
}
.type-card.bug {
  border: 2px solid #a6b91a;
}
.type-card.ghost {
  border: 2px solid #735797;
}
.type-card.steel {
  border: 2px solid #b7b7ce;
}
.type-card.fire {
  border: 2px solid #ee8130;
}
.type-card.water {
  border: 2px solid #6390f0;
}
.type-card.grass {
  border: 2px solid #7ac74c;
}
.type-card.electric {
  border: 2px solid #f7d02c;
}
.type-card.psychic {
  border: 2px solid #f95587;
}
.type-card.ice {
  border: 2px solid #96d9d6;
}
.type-card.dragon {
  border: 2px solid #6f35fc;
}
.type-card.dark {
  border: 2px solid #705746;
}
.type-card.fairy {
  border: 2px solid #d685ad;
}

/* PAGE Pokemon's info */
.one-pokemon {
  padding: 50px 70px;
  border: none;
  border-radius: 10px;
  box-shadow: #ededed 0 10px 10px;
  background-color: #ffffff;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.one-pokemon p {
  margin-bottom: 20px;
}

.img-type {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}

.type {
  padding: 5px 10px;
  border-radius: 6px;
  color: #ffffff;
}

/* Couleurs pour chaque type */
.type.normal {
  background-color: #a8a77a;
}
.type.fighting {
  background-color: #c22e28;
}
.type.flying {
  background-color: #a98ff3;
}
.type.poison {
  background-color: #a33ea1;
}
.type.ground {
  background-color: #e2bf65;
}
.type.rock {
  background-color: #b6a136;
}
.type.bug {
  background-color: #a6b91a;
}
.type.ghost {
  background-color: #735797;
}
.type.steel {
  background-color: #b7b7ce;
}
.type.fire {
  background-color: #ee8130;
}
.type.water {
  background-color: #6390f0;
}
.type.grass {
  background-color: #7ac74c;
}
.type.electric {
  background-color: #f7d02c;
}
.type.psychic {
  background-color: #f95587;
}
.type.ice {
  background-color: #96d9d6;
}
.type.dragon {
  background-color: #6f35fc;
}
.type.dark {
  background-color: #705746;
}
.type.fairy {
  background-color: #d685ad;
}

.abilities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.abilities span {
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #f0f0f0;
  color: #333;
}

/* PAGE Type info */

.one-type {
  color: white;
  padding: 12px 40px;
  border-radius: 5px;
  font-size: 17px;
  text-transform: capitalize;
  margin-bottom: 50px;
}

/* Couleurs pour chaque type */
.one-type.normal {
  background-color: #a8a77a;
}
.one-type.fighting {
  background-color: #c22e28;
}
.one-type.flying {
  background-color: #a98ff3;
}
.one-type.poison {
  background-color: #a33ea1;
}
.one-type.ground {
  background-color: #e2bf65;
}
.one-type.rock {
  background-color: #b6a136;
}
.one-type.bug {
  background-color: #a6b91a;
}
.one-type.ghost {
  background-color: #735797;
}
.one-type.steel {
  background-color: #b7b7ce;
}
.one-type.fire {
  background-color: #ee8130;
}
.one-type.water {
  background-color: #6390f0;
}
.one-type.grass {
  background-color: #7ac74c;
}
.one-type.electric {
  background-color: #f7d02c;
}
.one-type.psychic {
  background-color: #f95587;
}
.one-type.ice {
  background-color: #96d9d6;
}
.one-type.dragon {
  background-color: #6f35fc;
}
.one-type.dark {
  background-color: #705746;
}
.one-type.fairy {
  background-color: #d685ad;
}

/* LOADING SPIN */

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 180px);
}

.loading img {
  height: 50%;
  margin-bottom: 20px;
}
